<!--
  ~ Copyright (c) $year IO Stark
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iostark.android.x10.threading">

    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
