{
  "parserOptions": {
	"ecmaVersion": 7,
	"sourceType": "module",
  }, 
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "extends": [
    "standard"
  ],
  "plugins": [
    "mocha"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "mocha/no-identical-title": "error",
    "comma-dangle": "off",
    "no-unused-vars": [
      "error",
      {
        "args": "none",
        "caughtErrorsIgnorePattern": "^console"
      }
    ]
  },
  "globals": {
    "console": false,
    "Promise": false
  }
}
